<ol>
<% @entries.each do |entry| %>
  <li style="clear: both;">
  <% if entry.images.present? %>
  <% image_url = entry.images.first.fallback %>
  <% end %>
  <% if image_url.present? %>
    <img src="<%= image_url %>" alt="" style="float:left; width:100px; margin-right: 10px;">
  <% end %>
  <h2><%= entry.headline %></h2>
  <p><%= entry.teaser %></p>
  <p><%= entry.slug %></p>
  <ol class="audiosList" aria-label="List of audio">
  <% if entry.respond_to?(:audio) %>
    <% entry.audio.each do |audio| %>
      <% audio_data = audio.apm_api.stream %>
      <% duration = audio_data.duration_time.split(':') %>
      <li style="clear: both;">
        <script data-bragi-audio=true type="application/ld+json">
        {
          "@type": "AudioObject",
          <% if image_url.present? %>
          "imageUrl": "<%= image_url %>",
          <% end %>
          "contentUrl": "<%= audio_data.http_file_path.sub(/^http/, 'https') %>",
          "description": "<%= audio_data.description %>",
          <% # Rolling my own iso8601 duration converter %>
          "duration": "PT<%= duration.zip(%w(H M S)).flatten.join %>",
          "encodingFormat": "<%= audio_data.http_file_path.split('.').last %>",
          "name": "<%= audio_data.title %>",
          "identifier": "<%= audio_data.filename %>",
          "uploadDate": "<%= DateTime.strptime(audio_data.pub_date.concat(Time.now.getlocal.formatted_offset), '%Y-%m-%d %H:%M:%S %Z').rfc3339() %>",
          "isPartOf": {
            "@type": "Article",
            "url": "//mprnews.org/story/<%= entry.slug %>",
            "headline": "<%= entry.headline %>"
          },
          "creator": {
            "@type": "Organization",
            "name": "MPR News",
            "url": "//mprnews.org"
          }
        }
        </script>
        <h3>Listen: <%= audio_data.title %></h3>
        <audio preload="metadata" controls="controls" src="<%= audio.apm_api.stream.http_file_path.sub(/^http/, 'https') %>"></audio>
      </li>
      <% end %>
    <% else %>
    <% end %>
    </ol>
    <hr />
  </li>
<% end %>
</ol>

<%= javascript_include_tag 'add_audio' %>
