<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BragiUi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <%= stylesheet_pack_tag    'app', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <main id="app" role="main">
        <div id="loading"></div>
        <noscript>
          <div style="border: 1px solid purple; padding: 10px">
            <span style="color:red">JavaScript is required to access your playlist</span>
          </div>
        </noscript>
        <%= yield %>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
